@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --color-bg: #040c18;
  --background: linear-gradient(
    90deg,
    rgba(0, 40, 83, 0.76) 0%,
    rgba(4, 12, 24, 0.98) 100%
  );
  --gradient-text: radial-gradient(
    circle at 3% -25%,
    rgba(174, 103, 250, 1) 1%,
    rgba(244, 152, 103, 1) 100%
  );
}

:root {
  --font-family: "Manrope", sans-serif;
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}
